html,
body {
  min-width: 500px;
}
.page {
  padding: 20px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
p {
  display: inline-block;
}
.form{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}